*.py[cod]
.directory

ros/build
ros/devel
ros/.catkin_workspace

# Ignore Jupyter checkpoints
.ipynb_checkpoints

# MAC OS related metadata storing file
.DS_Store

# Visual studio code settings for workspace
.vscode/*
